PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/off-road-izamal
JWT_SECRET=change_this_super_secret_key
CLIENT_URL=http://localhost:5173
APP_TIMEZONE=America/Mexico_City
ADMIN_USER=admin
ADMIN_PASSWORD=Admin123!
ADMIN_ROLE=admin
